---
import MuralLayout from '../../layouts/MuralLayout.astro';
import BlogMural from '../../components/murals/BlogMural.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog', ({ data }) => !data.draft))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((p) => ({
    id: p.id,
    title: p.data.title,
    category: p.data.category,
  }));
---

<MuralLayout title="escritos">
  <div class="mural-scroll">
    <BlogMural posts={posts} />
  </div>
</MuralLayout>
