---
import BaseLayout from '../../layouts/BaseLayout.astro';
import CmdBlock from '../../components/CmdBlock.astro';
import { tastes } from '../../data/site';
---

<BaseLayout title="music" path="/music">
	<CmdBlock cmd="play" cwd="~/music" id="music-player">
		<div class="music-page">
			<p class="music-page__line">
				<span class="music-page__key">playlist</span>
				<span class="music-page__sep">=</span>
				<span class="music-page__val">{tastes.spotify.playlistLabel}</span>
			</p>
			<div class="music-page__player" data-spotify-global-slot></div>
		</div>
	</CmdBlock>
</BaseLayout>
