---
import BaseLayout from '../layouts/BaseLayout.astro';
import TermLine from '../components/TermLine.astro';
import PromptCursor from '../components/PromptCursor.astro';
---

<BaseLayout title="404" path="/404">
  <TermLine cmd="cd pagina-inexistente">
    <p class="err__code">404</p>
    <p class="err__msg">bash: cd: pagina-inexistente: No such file or directory</p>
    <p class="out"><a href="/">cd ~</a></p>
  </TermLine>
  <PromptCursor />
</BaseLayout>
