---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProfileSection from '../components/ProfileSection.astro';
import TechTimeline from '../components/TechTimeline.astro';
import BlogTeaser from '../components/BlogTeaser.astro';
import ProjectsTeaser from '../components/ProjectsTeaser.astro';
import MusicSection from '../components/MusicSection.astro';
import MethodSection from '../components/MethodSection.astro';
import { site } from '../data/site';
---

<BaseLayout title={site.name} description={site.tagline} currentPath="/">
	<div class="page-grid home-main">
		<ProfileSection />
		<MethodSection />
		<div class="home-span">
			<TechTimeline />
		</div>
		<BlogTeaser />
		<ProjectsTeaser />
		<div class="home-span">
			<MusicSection />
		</div>
	</div>
</BaseLayout>
