<nav class="about-dir" aria-label="More on this site">
	<p class="about-dir__line">
		<a class="about-dir__entry" href="/site"><span class="about-dir__name">site.txt</span></a>
	</p>
	<p class="about-dir__line">
		<a class="about-dir__entry" href="/stacks"><span class="about-dir__name">stacks</span></a>
	</p>
	<p class="about-dir__line">
		<a class="about-dir__entry" href="/tastes"><span class="about-dir__name">tastes</span></a>
	</p>
</nav>
