---
import { categories, type CategoryId } from '../data/site';

interface Props {
	id: CategoryId;
}

const { id } = Astro.props;
const category = categories.find((item) => item.id === id)!;
---

<span class="cat">{category.label}</span>
