---
import { site } from '../data/site';

interface Props {
	cmd: string;
	id?: string;
}

const { cmd, id } = Astro.props;
---

<section class="cmd-block" id={id}>
	<p class="cmd-block__line">
		<span class="cmd-block__path">
			<span class="cmd-block__user">{site.consoleUser}</span>@<span class="cmd-block__host">{site.domain}</span><span class="cmd-block__sep">:</span>
		</span>
		<span class="cmd-block__cmd">{cmd}</span>
	</p>
	<div class="cmd-block__out">
		<slot />
	</div>
</section>
