---
import { site } from '../data/site';

interface Props {
	command?: string;
	title?: string;
}

const { command = 'about', title = 'Andres Ramos' } = Astro.props;
---

<h1 class="console-title">
	<span class="console-title__line">
		<span class="console-title__user">{site.consoleUser}</span><span class="console-title__at">@</span><span class="console-title__host">{site.domain}</span><span class="console-title__sig"> @</span><span class="console-title__command"> {command}</span><span class="console-title__print"> print</span><span class="console-title__quote"> "{title}"</span>
	</span>
</h1>
