---
import { craft } from '../data/site';
import BioTag from './BioTag.astro';
---

<div class="craft-view">
	<p class="craft-view__lead">{craft.lead}</p>

	<div class="tag-box tag-box--c">
		<div class="tag-box__key">mindset</div>
		<div class="tag-box__text">{craft.mindset}</div>
	</div>

	<div class="craft-view__tree">
		<p class="craft-view__prompt">
			<span class="craft-view__sig">$</span> ls <span class="craft-view__path">~/stack</span>
		</p>
		<ul class="craft-view__dirs">
			{craft.stackDirs.map((group) => (
				<li class="craft-view__dir">
					<div class="craft-view__dirhead">
						<span class="craft-view__perm">drwxr-xr-x</span>
						<span class="craft-view__dirname">{group.dir}/</span>
					</div>
					<div class="craft-view__tags">
						{group.items.map((item) => (
							<BioTag label={item} />
						))}
					</div>
				</li>
			))}
		</ul>
	</div>
</div>
