---
import { personal } from '../data/site';
---

<div class="life-view">
	<p class="life-view__lead">{personal.lead}</p>
	<div class="life-view__cards">
		{personal.blocks.map((block) => (
			<div class="tag-box tag-box--c">
				<div class="tag-box__key">{block.key}</div>
				<div class="tag-box__text">{block.text}</div>
			</div>
		))}
	</div>
</div>
