---
import { workPhilosophy } from '../data/site';
---

<ul class="console-doc console-doc--dash">
	{workPhilosophy.paragraphs.map((paragraph) => (
		<li class="console-doc__line">{paragraph}</li>
	))}
</ul>
