---
import { workPhilosophy } from '../data/site';
---

<div class="console-doc">
	{workPhilosophy.paragraphs.map((paragraph, index) => (
		<p class:list={['console-doc__line', index === 0 && 'console-doc__line--open']}>{paragraph}</p>
	))}
</div>
