---
import { workPhilosophy } from '../data/site';
---

<ul class="console-doc console-doc--dash">
	{workPhilosophy.paragraphs.map((paragraph, index) => (
		<li class:list={['console-doc__line', index === 0 && 'console-doc__line--open']}>{paragraph}</li>
	))}
</ul>
