---
import { site } from '../data/site';

interface Props {
	size?: 'sm' | 'md';
	caption?: boolean;
}

const { size = 'md', caption = true } = Astro.props;
---

<figure class:list={['avatar', size === 'sm' && 'avatar--sm', size === 'md' && 'avatar--md']}>
	<div class="avatar__frame">
		<img
			src={site.avatar}
			alt={`Foto de ${site.name}`}
			width="140"
			height="140"
			loading="eager"
		/>
	</div>
	{caption && <figcaption class="avatar__path">{site.avatarPath}</figcaption>}
</figure>
