---
import { site } from '../data/site';

const year = new Date().getFullYear();
---

<footer class="ftr ftr--console" role="contentinfo">
	<p class="ftr__line">
		© {year} {site.domain}. Hecho con Casi todos los derechos reservados
	</p>
</footer>
