---
import { tastes } from '../data/site';

const playerHref = tastes.spotify.playerHref;
const linkLabel = tastes.spotify.playerLinkLabel;
---

<div class="hdr-music" aria-label="Music">
	<a class="hdr-music__link" href={playerHref}>
		{linkLabel}
	</a>
	<a class="hdr-music__btn" href={`${playerHref}#spotify-player`} aria-label="Open music player">
		<span class="hdr-music__icon hdr-music__icon--play" aria-hidden="true" />
	</a>
	<div class="hdr-eq" aria-hidden="true">
		<span /><span /><span /><span /><span />
	</div>
</div>
