---
import { tastes } from '../data/site';

const linkLabel = tastes.spotify.playerLinkLabel;
---

<div class="hdr-music" aria-label="Music">
	<a class="hdr-music__link" href="#" data-spotify-open>
		{linkLabel}
	</a>
</div>
