---
import { tastes } from '../data/site';
import SpotifyEmbed from './SpotifyEmbed.astro';
---

<div
	id="spotify-panel-root"
	class="spotify-float"
	transition:persist="spotify-panel"
	data-open="false"
	aria-hidden="true"
>
	<div class="spotify-float__panel" role="dialog" aria-label="Music player">
		<div class="spotify-float__bar">
			<code class="spotify-float__cmd">play &quot;I&apos;m a programmer&quot;</code>
			<button
				type="button"
				class="spotify-float__close"
				data-spotify-panel-close
				aria-label="Close player"
			>
				×
			</button>
		</div>
		<div class="spotify-float__body">
			<p class="music-page__notice" role="note">
				You need an active Spotify session in this browser to play music here. Log in at
				<a href="https://open.spotify.com" target="_blank" rel="noreferrer">open.spotify.com</a>
				if playback is limited to previews.
			</p>
			<p class="music-page__line">
				<span class="music-page__key">playlist</span>
				<span class="music-page__sep">=</span>
				<span class="music-page__val">{tastes.spotify.playlistLabel}</span>
			</p>
			<SpotifyEmbed />
		</div>
	</div>
</div>
