---
import SpotifyEmbed from './SpotifyEmbed.astro';
---

<div
	id="spotify-panel-root"
	class="spotify-float"
	transition:persist="spotify-panel"
	data-open="false"
	aria-hidden="true"
>
	<div class="spotify-float__panel" role="dialog" aria-label="Music player">
		<header class="spotify-float__bar">
			<span class="spotify-float__title">I&apos;m programming</span>
			<button
				type="button"
				class="spotify-float__close"
				data-spotify-panel-close
				aria-label="Close player"
			>
				×
			</button>
		</header>
		<div class="spotify-float__body">
			<p class="spotify-float__hint">
				Active Spotify session required.
				<a href="https://open.spotify.com" target="_blank" rel="noreferrer">Sign in</a>
			</p>
			<SpotifyEmbed />
		</div>
	</div>
</div>
