---
import { tastes } from '../data/site';

const playerHref = tastes.spotify.playerHref;
const linkLabel = tastes.spotify.playerLinkLabel;
---

<div class="hdr-music" aria-label="Music">
	<a class="hdr-music__link" href={playerHref}>
		{linkLabel}
	</a>
	<a class="hdr-music__btn" href={playerHref} aria-label="Open music player" title="Open player">
		▶
	</a>
</div>
