---
import { tastes } from '../data/site';

const linkLabel = tastes.spotify.playerLinkLabel;
---

<div class="hdr-music" aria-label="Music">
	<a class="hdr-music__link" href="#" data-spotify-open>
		<span class="hdr-eq hdr-eq--live" aria-hidden="true">
			<span /><span /><span /><span /><span />
		</span>
		<span>{linkLabel}</span>
	</a>
</div>
