---
import { stack } from '../data/site';
---

<div class="stack-blocks">
	{stack.groups.map((group) => (
		<div class="stack-block">
			<p class="stack-block__key">{group.label}</p>
			<p class="stack-block__tags">
				{group.items.map((item) => (
					<span class="stack-tag">
						<span class="stack-tag__hash">#</span>
						{item}
					</span>
				))}
			</p>
		</div>
	))}
</div>
