---
import { stack } from '../data/site';
---

<div class="console-doc console-doc--stack">
	{stack.groups.map((group) => (
		<p class="stack-line">
			<span class="stack-line__key">{group.label}</span>
			<span class="stack-line__val">{group.items.join(', ')}</span>
		</p>
	))}
</div>
