---
import { stack } from '../data/site';
import BioTag from './BioTag.astro';
---

<div class="stack-lanes">
	{stack.groups.map((group) => (
		<div class="stack-lane">
			<span class="stack-lane__label">{group.label}</span>
			<div class="stack-lane__chips">
				{group.items.map((item) => (
					<BioTag label={item} />
				))}
			</div>
		</div>
	))}
</div>
