---
import { stack } from '../data/site';
---

<div class="stack-lanes">
	{stack.groups.map((group) => (
		<div class="stack-lane">
			<span class="stack-lane__label">{group.label}</span>
			<div class="stack-lane__chips">
				{group.items.map((item) => (
					<span class="term-chip">{item}</span>
				))}
			</div>
		</div>
	))}
</div>
