---
import { stack } from '../data/site';
---

<div class="stack-groups">
	{stack.groups.map((group) => (
		<section class="stack-group">
			<p class="stack-group__label">{group.label}</p>
			<div class="stack-group__chips">
				{group.items.map((item) => (
					<span class="stack-chip">
						<span class="stack-chip__hash">#</span>
						{item}
					</span>
				))}
			</div>
		</section>
	))}
</div>
