---
import { nav } from '../data/site';

const entries = nav.filter((item) => item.href !== '/');
---

<nav class="ttree" aria-label="Directorios">
	<p class="ttree__root"><span class="ttree__prompt">~</span></p>
	<ul class="ttree__list">
		{entries.map((item) => (
			<li>
				<a href={item.href}>
					<span class="ttree__branch">├──</span>
					<span class="ttree__name">{item.label}/</span>
				</a>
			</li>
		))}
		<li class="ttree__last">
			<span class="ttree__branch">└──</span>
			<span class="ttree__hint">navega con las rutas de arriba</span>
		</li>
	</ul>
</nav>
