---
import { site } from '../data/site';

interface Props {
	cmd: string;
}

const { cmd } = Astro.props;
---

<section class="tblock">
	<p class="tblock__cmd">
		<span class="user">{site.user}</span>@<span class="host">{site.domain}</span>:~$
		<span class="cmd"> {cmd}</span>
	</p>
	<div class="tblock__out">
		<slot />
	</div>
</section>
