---
import { site } from '../data/site';

interface Props {
	cmd: string;
}

const { cmd } = Astro.props;
---

<p class="line line--cmd">
	<span class="u">{site.user}</span>@<span class="h">{site.domain}</span>:~$ <span class="c">{cmd}</span>
</p>
<div class="out-wrap">
	<slot />
</div>
