---
import { site } from '../data/site';
---

<div class="twin">
	<div class="twin__bar">
		<div class="twin__dots">
			<span class="twin__dot twin__dot--r"></span>
			<span class="twin__dot twin__dot--y"></span>
			<span class="twin__dot twin__dot--g"></span>
		</div>
		<a class="twin__brand" href="/">{site.domain}</a>
	</div>
	<div class="twin__body">
		<slot />
	</div>
</div>
