---
import { site } from '../data/site';
---

<div class="twin">
	<header class="twin__bar">
		<code class="twin__title">
			<span class="twin__blog">{site.consoleUser}</span><span class="twin__at">@</span><a href="/about" class="twin__host">{site.domain}</a><span class="twin__handle">{site.handle}</span> <span class="twin__name">"Andrés Ramos Q"</span>
		</code>
	</header>
	<div class="twin__body">
		<slot />
	</div>
</div>
