---
import BaseLayout from '../../layouts/BaseLayout.astro';
import CmdBlock from '../../components/CmdBlock.astro';
import SitePanel from '../../components/SitePanel.astro';
---

<BaseLayout title="AndresRamos.Dev" path="/site">
	<div class="console-session">
		<CmdBlock cmd="cat site.txt" cwd="~/site" transcript id="site-intro">
			<SitePanel part="intro" />
		</CmdBlock>

		<CmdBlock cmd="cat meta.txt" cwd="~/site" transcript id="site-meta">
			<SitePanel part="meta" />
		</CmdBlock>
	</div>
</BaseLayout>
